/build/
/.vs/
/out/
/vcpkg/
/vcpkg-bincache/
/vcpkg_installed/
*.rig
*.eppo
*.user
*.suo
*.VC.db
/artifact/
/published-*/
/release-stage/
/validation/
/VALIDATION_v*.txt
/Runner-v*.zip
/Runner-v*.zip.sha256
/Runner-v*.manifest.sha256
